

.ibm-plex-sans-kr-regular {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body { /*전체적으로 글씨체 통일*/
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo {
  text-decoration: none;
  color: inherit; /* 기본 글자 색상 그대로 유지 */
}

nav ul { /* 네비게이션 바 - 기본 목록 스타일 제거 */
    list-style-type: none; 
    display: flex;
    justify-content: center;
}

nav li {
    margin: 20px;
}

.row-category{ /*수평 카테고리*/
    display: flex;
    justify-content: space-around;
}

.col-category{ /*수직 카테고리*/
    margin-left: 100px;    
    margin-right: 100px;   
}

div{ /* 컨테이너 간격 조정 */
    margin-bottom: 50px;
    align-items: left;
}

.title{ /*큰 제목 글씨 크기 및 두께*/
    font-size: 30px;
    font-weight: 700;
}

.content{
    color: gray;
    font-size: 20px;
}

.image-container { /*프로필 이미지 레이아웃*/
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 50px;
}

/* 애니메이션 추가해 보기 */
.project_title {
  color: #3a54aa;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

.project_title::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3a54aa;
  transition: width 0.3s ease;
}

.project_title:hover {
  color: #0732be;
}

.project_title:hover::after {
  width: 100%;
}
