

.ibm-plex-sans-kr-regular {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body { /*전체적으로 글씨체 통일*/
    font-family: 'IBM Plex Sans KR', sans-serif;
}

/* 헤더 및 네비게이션 바 */
.header {
    position: fixed;         /* 화면에 고정 */  
    top: 0;
    width: 100%; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: white;
    min-height: 60px;
}

.logo {
  text-decoration: none;
  color: inherit; /* 기본 글자 색상 그대로 유지 */
  font-size: large;
  font-weight: bold;
}

.header nav ul {
    list-style-type: none; 
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.header nav a {
    text-decoration: none;
}


/* 메인 */
.main-banner {
  background-color: #001f3f;  /* 진한 남색 */
  color: white;               /* 글자 흰색 */
  height: 100vh;              /* 화면 전체 높이 */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  border-radius: 20px;
}

.main-text h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.main-text p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.main-text button {
  padding: 0.8rem 1.5rem;
  background-color: white;
  color: #001f3f;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

/* contact 섹션 */

.row-category{ /*수평 카테고리*/
    display: flex;
    justify-content: space-around;
}

.col-category{ /*수직 카테고리*/
    margin-left: 100px;    
    margin-right: 100px;   
}

div{ /* 컨테이너 간격 조정 */
    margin-bottom: 50px;
    align-items: left;
}

.title{ /*큰 제목 글씨 크기 및 두께*/
    font-size: 30px;
    font-weight: 700;
}

.content{
    color: gray;
    font-size: 20px;
}

.image-container { /*프로필 이미지 레이아웃*/
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 50px;
}

/* 애니메이션 추가해 보기 */
.project_title {
  color: #3a54aa;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

.project_title::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3a54aa;
  transition: width 0.3s ease;
}

.project_title:hover {
  color: #0732be;
}

.project_title:hover::after {
  width: 100%;
}
